.table-container {
  max-height: 60vh;
  overflow-y: auto;
  border: 1px solid #444;
  border-radius: 5px;
}

/* Prettier scrollbar */
.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #333;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid #333;
}
